<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a href="{{ "/" | relative_url }}" class="navbar-brand">{{ site.title | escape }}</a>
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#rntesting-navbar" aria-controls="rntesting-navbar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="rntesting-navbar">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item"><a href="/unit" class="nav-link">Unit</a></li>
        <li class="nav-item"><a href="/component" class="nav-link">Component</a></li>
        <li class="nav-item"><a href="/e2e" class="nav-link">End-to-End</a></li>
      </ul>
    </div>
  </div>
</nav>
